.advantages {
  background-color: @white-color;
}
.advantages__list {
  background-color: @grey-color;
}
.advantages__item:first-of-type,
.advantages__item:nth-of-type(2),
.advantages__image {
  background-color: @blue-color;
  color: @white-color;
}
.advantages__slogan,
.advantages__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}
.advantages__intro {
  font-size: 14px;
  line-height: 26px;
}
.advantages__description {
  font-size: 14px;
  line-height: 21px;
}
