.advantages {
  background-color: @white-color;
}

.advantages__list {
  background-color: @grey-color;
}

.advantages__item:first-of-type,
.advantages__item:nth-of-type(2),
.advantages__image {
  background-color: @blue-color;
  color: @white-color;
}

.advantages__item {
  display: flex;
  flex-direction: column;
}

.advantages__slogan,
.advantages__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.advantages__intro {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.advantages__description {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.advantages__number {
  text-align: center;
}
