.advantages {
  background-color: @white-color;
}

.advantages__list {
  background-color: @grey-color;
  margin: 0;
  padding: 0;
}

.advantages__item:first-of-type,
.advantages__item:nth-of-type(2),
.advantages__image {
  background-color: @blue-color;
  color: @white-color;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages__slogan,
.advantages__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

.advantages__intro {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  display: block;
  margin: 0;
  margin-bottom: 27px;
}

.advantages__description {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  margin: 0;
  padding-bottom: 29px;
}

.advantages__number {
  text-align: center;
  display: block;
  margin-bottom: 15px;
}

.advantages__slogan {
  display: block;
  margin-bottom: 27px;
}

.advantages__item:first-of-type .advantages__title {
  margin: 0;
  padding: 56px 0 10px 0;
}

.advantages__item:nth-of-type(2) .advantages__title {
  margin: 0;
  padding: 40px 0 9px 0;
}

.advantages__item:first-of-type .advantages__description,
.advantages__item:nth-of-type(2) .advantages__description {
  padding-bottom: 39px;
}

@media (min-width: @tablet-width) {
  .advantages__item {
    flex-direction: row;
  }

  .advantages__slogan,
  .advantages__title {
    width: 445px;
    margin: auto;
  }
}

@media (min-width: @desktop-width) {
  .advantages__slogan {
    width: 445px;
  }

  .advantages__title {
    width: 495px;
  }
}
