.feedback-form {
  margin: 0 auto;
}

.feedback-form__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 25px;
}

.feedback-form__description {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 36px;
}

.feedback-form__fieldset {
  border: 0 none;
  margin: 0 auto;
  margin-bottom: 13px;
  display: block;
}

.feedback-form__info-fieldset {
  margin-bottom: 13px;
}

.feedback-form__legend {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}

.info-field {
  display: flex;
  justify-content: space-between;
}

.feedback-form__info-label {
  display: block;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  margin-top: 15px;
}

.feedback-form__impression-label {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: none;
  margin: 0 auto;
  display: block;
}

.personal-info {
  min-width: 180px;
  background-color: #f2f2f2;
  padding: 22px 0 21px 21px;
  margin-bottom: 20px;
  outline: none;
  border: none;
}

.contact-info {
  position: relative;
  width: 280px;
  background-color: #f2f2f2;
  padding: 22px 0 21px 21px;
  margin: 0 auto;
  margin-top: -18px;
  margin-left: 8px;
  margin-bottom: 11px;
  outline: none;
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    background: url("../img/icon-phone.svg") no-repeat;
    background-color: #e6e6e6;
    height: 50px;
    width: 50px;
  }
}

.feedback-form__contact-fieldset {
  margin-bottom: 26px;
}

.feedback-form__contact-fieldset .feedback-form__info-label {
  padding-left: 28px;
  margin-top: 0;
  margin-bottom: 5px;
}

.feedback-form__impression-fieldset .feedback-form__impression-legend {
  margin-bottom: 20px;
}

.feedback-form__impression-fieldset {
  margin-bottom: 38px;
}

.feedback-form__sights-fieldset {
  margin-bottom: 5px;
}

::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

::-moz-placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

:-moz-placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

:-ms-input-placeholder {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.feedback-form__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.feedback-form__checkbox + label {
  position: relative;
  padding: 10px 0 0 80px;
  cursor: pointer;
  margin-bottom: 24px;
  margin-left: 5px;
  display: block;
}

.feedback-form__checkbox + label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 56px;
  height: 56px;
  border-radius: 5px;
  background: #f2f2f2;
}

.feedback-form__checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 18px;
  width: 22px;
  height: 22px;
  background: url("../img/icon-tick.svg") no-repeat;
  fill: #333333;
}

.feedback-form__checkbox:checked + label::before {
  background-color: #f2f2f2;
}

.feedback-form__checkbox:hover + label::before {
  background-color: #e5e5e5;
}

.feedback-form__checkbox:hover + label::after {
  fill: #333333;
}

.feedback-form__checkbox:active + label::before {
  background-color: #d5d5d5;
}

.feedback-form__checkbox:active + label::after {
  fill: #a4a4a4;
}

.feedback-form__radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 0 0 0 7px;
}

.feedback-form__radio + label {
  position: relative;
  padding: 10px 0 0 80px;
  cursor: pointer;
  margin-bottom: 14px;
  margin-left: 5px;
  display: block;
}

.feedback-form__radio + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #f2f2f2;
}

.feedback-form__radio + label::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #333333;
  opacity: 0;
  transition: 0.2s;
}

.feedback-form__radio:checked + label::after {
  opacity: 1;
}

.feedback-form__radio:hover + label::before {
  background-color: #e5e5e5;
}

.feedback-form__radio:hover + label::after {
  background-color: #333333;
}

.feedback-form__radio:active + label::before {
  background-color: #d5d5d5;
}

.feedback-form__radio:active + label::after {
  background-color: #a4a4a4;
}

.feedback-form__emotions {
  background-color: #f2f2f2;
  width: 280px;
  border: none;
  outline: none;
  padding: 15px 15px 15px 25px;
  margin-bottom: 32px;
  resize: none;
}

.feedback-form__emotions-legend {
  margin-bottom: 12px;
}

.feedback-form__button {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: @white-color;
  text-transform: uppercase;
  padding: 16px 32px;
  border: none;
  background-color: @blue-color;
  margin: 0 auto;
  display: block;
  margin-bottom: 72px;
}

@media (max-width: @mobile-width-only) {
  .feedback-form__info-fieldset {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -20px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #e5e5e5;
    }

    &::after {
      content: "";
      position: absolute;
      top: 286px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #e5e5e5;
    }
  }

  .feedback-form__contact-fieldset {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 267px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #e5e5e5;
    }
  }

  .required-fields {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .feedback-form__title {
    font-size: 30px;
    line-height: 26px;
    margin-top: 72px;
    margin-bottom: 32px;
  }

  .feedback-form__description {
    width: 445px;
    margin-bottom: 75px;
  }

  .feedback-form__legend {
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 50px;
  }

  .feedback-form__impression-fieldset .feedback-form__impression-legend {
    margin-bottom: 55px;
  }

  .feedback-form__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .feedback-form__info-fieldset .feedback-form__legend {
    text-align: left;
    margin-left: 26px;
  }

  .feedback-form__radio+label {
    padding: 10px 0 0 75px;
    cursor: pointer;
    margin-bottom: 23px;
    margin-left: 29px;
}

  .feedback-form__info-label {
    margin-left: 28px;
  }

  .feedback-form__info-fieldset {
    margin-bottom: 40px;
  }

  .feedback-form__contact-fieldset .feedback-form__legend,
  .feedback-form__emotions-fieldset .feedback-form__legend {
    position: relative;
    margin-bottom: 20px;

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: -189px;
      height: 2px;
      width: 125px;
      background-color: #dbdbdb;
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      left: 336px;
      height: 2px;
      width: 124px;
      background-color: #dbdbdb;
    }
  }

  .feedback-form__sights-fieldset .feedback-form__legend {
    margin-bottom: 42px;

    &::before {
      content: "";
      position: absolute;
      top: 25px;
      left: -181px;
      height: 2px;
      width: 125px;
      background-color: #dbdbdb;
    }

    &::after {
      content: "";
      position: absolute;
      top: 25px;
      left: 344px;
      height: 2px;
      width: 124px;
      background-color: #dbdbdb;
    }
  }

  .feedback-form__contact-fieldset .feedback-form__info-label {
    margin-left: 0;
    padding-left: 35px;
  }

  .contact-info {
    width: 648px;
    margin-bottom: 22px;
  }

  .feedback-form__sights-fieldset .feedback-form__legend {
    width: 283px;
  }

  .feedback-form__sights-wrapper {
    display : flex;
    flex-wrap : wrap;
    justify-content : center;
    margin: 0 auto;
  }

  .feedback-form__checkbox+label {
    margin: 0 50px 50px 0;
  }

  .feedback-form__emotions-fieldset .feedback-form__legend {
    margin-bottom: 52px;
  }

  .feedback-form__emotions {
    width: 648px;
  }

  .required-fields {
    font-size: 14px;
    line-height: 26px;
    display: block;
    margin-top: 17px;
    margin-left: 160px;
  }

  .feedback-form__info-fieldset {
    order: 2;
    width: 324px;
  }

  .feedback-form__contact-fieldset {
    order: 3;
    width: 648px;
    margin-bottom: 20px;
  }

  .feedback-form__impression-fieldset {
    order: 1;
    width: 324px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 3px;
      left: 364px;
      height: 293px;
      width: 2px;
      background-color: #dbdbdb;
    }
  }

  .feedback-form__sights-fieldset {
    order: 4;
    width: 648px;
    margin-bottom: 25px;
    position: relative;
  }

  .feedback-form__emotions-fieldset {
    order: 5;
    width: 648px;
    margin-bottom: 8px;
  }

  .feedback-form__button-wrapper {
    order: 6;
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;
  }

  .feedback-form__button {
    margin-left: 60px;
    margin-bottom: 0;
    padding: 16px 32px 16px 32px;
  }
}

@media (min-width: @desktop-width) {
  .feedback-form__title {
    margin-top: 112px;
  }

  .feedback-form__description {
    margin-bottom: 58px;
  }

  .feedback-form__impression-fieldset,
  .feedback-form__info-fieldset {
    width: 480px;
  }

  .feedback-form__impression-fieldset::after {
    top: 3px;
    left: 550px;
    height: 293px;
    width: 2px;
  }

  .feedback-form__radio+label {
    margin-left: 63px;
  }

  .feedback-form__info-fieldset {
    margin-bottom: 39px;
  }

  .feedback-form__contact-fieldset .feedback-form__legend {
    margin-bottom: 86px;
  }

  .feedback-form__contact-fieldset .feedback-form__legend,
  .feedback-form__emotions-fieldset .feedback-form__legend {

    &::before {
      top: 11px;
      left: -346px;
      width: 280px;
    }

    &::after {
      top: 11px;
      left: 335px;
      width: 280px;
    }
  }

  .feedback-form__contact-wrapper {
    display: flex;
    justify-content: space-between;
    width: 960px;
  }

  .contact-info {
    width: 315px;
  }

  .phone {
    display: none;
  }

  .feedback-form__contact-fieldset .feedback-form__info-label {
    padding: 0;
    margin-right: 5px;
  }

  .feedback-form__sights-fieldset .feedback-form__legend {
    &::before {
      top: 26px;
      left: 11px;
      width: 280px;
    }

    &::after {
      top: 26px;
      left: 692px;
      width: 280px;
    }
  }

  .feedback-form__sights-wrapper {
    width: 960px;
    flex-direction: row;
    justify-content: space-between;
  }

  .feedback-form__checkbox+label:last-of-type {
    margin-right: 0;
  }

  .feedback-form__sights-fieldset {
    margin-bottom: 21px;
  }

  .feedback-form__emotions-legend {
    margin-bottom: 0;
  }

  .feedback-form__emotions {
    width: 960px;
  }

  .feedback-form__button {
    margin-left: 120px;
    margin-bottom: 0;
    width: 480px;
  }

  .required-fields {
    margin-left: 316px;
  }

  .feedback-form__button-wrapper {
    margin-bottom: 90px;
  }

}
