.main-navigation {
  background-color: @white-color;
  position: relative;
}

.main-navigation__list,
.main-navigation__list-left {
  position: relative;
  .set-font();
  .list-reset();
  font-size: 18px;
  line-height: 40px;
  color: @white-color;
  background-color: @blue-color;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.main-navigation__list a,
.main-navigation__list-left a {
  text-decoration: none;
  color: @white-color;
}

.main-navigation__list-item,
.main-navigation__list-left-item {
  text-align: center;
  padding: 6px;
}

.main-navigation--closed .main-navigation__toggle {
  position: absolute;
  background-color: @white-color;
  top: 10px;
  right: 19px;
  border: none;
  cursor: pointer;
  display: block;
  width: 25px;
  height: 23px;

  &::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 4px;
    top: 0;
    right: 0;
    background-color: @blue-color;
    box-shadow: 0 8px 0 0 @blue-color, 0 16px 0 0 @blue-color;
  }
}

.main-navigation--opened .main-navigation__toggle {
  position: absolute;
  background-color: transparent;
  top: 27px;
  right: 19px;
  border: none;
  cursor: pointer;
  display: block;
  width: 28px;
  height: 28px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 4px;
    top: 0;
    right: 0;
    background-color: @white-color;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: @mobile-width-only) {
  .main-navigation__list-item,
  .main-navigation__list-left-item {
    text-align: center;
    padding: 7px;
    border-top: solid 1px #9ac2db;
    border-bottom: solid 1px #678fa8;

    &:hover {
      background-color: #669ec0;
    }

    &:active {
      background-color: #5496bd;
    }
  }

  .main-navigation__list-item:first-of-type {
    border-top: none;
  }

  .main-navigation__list-left-item:nth-of-type(2) {
    border-bottom: none;
    box-shadow: inset 0 -1px 1px #6c96b0;
  }
}

.main-navigation-text {
  &:active {
    opacity: 0.5;
  }
}

.main-navigation--closed .main-navigation__list-item,
.main-navigation--closed .main-navigation__list-left-item {
  display: none;
}

.main-navigation--closed .main-navigation__emblem-wrapper {
  display: block;
  top: 0;
}

.main-navigation--opened .main-navigation__list-item {
  display: block;
}

.main-navigation--nojs .main-navigation__toggle {
  display: none;
}

.main-navigation__emblem-wrapper {
    position: absolute;
    border-bottom: none;
    border-top: none;
    top: 222px;
    left: 50%;
    z-index: 2;
    margin-left: -50px;
    background-color: transparent;
  }

@media (min-width: @tablet-width) {
  .main-navigation {
    display: flex;
    justify-content: space-between;
  }

  .main-navigation__list,
  .main-navigation__list-left {
    .set-font();
    .list-reset();
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
    background-color: @white-color;
    flex-direction: row;
    justify-content: space-around;
  }

  .main-navigation__list {
    display: flex;
    justify-content: flex-start;
    margin-left: 18px;
  }

  .main-navigation__list-left {
    display: flex;
    justify-content: flex-end;
    margin-right: 17px;
  }

  .main-navigation__list a,
  .main-navigation__list-left a {
    text-decoration: none;
    color: #000000;

    &:hover {
      color: #81b3d2;
    }

    &:active {
      color: #b7b7b7;
    }
  }

  .main-navigation__list-item,
  .main-navigation__list-left-item {
    min-width: 106px;
    padding-top: 14px;
    margin-bottom: 8px;
  }

  .main-navigation__list-item:first-of-type {
    margin-right: 35px;
  }

  .main-navigation__list-left-item:last-of-type {
    margin-left: 33px;
  }

  .main-navigation__list-item--active a,
  .main-navigation__list-left-item--active a {
    color: #766357;

    &:hover {
      color: #604e43;
    }

    &:active {
      color: #d8d3d0;
    }
  }

  .main-navigation__emblem-wrapper {
    position: absolute;
    top: 0;
    left: 382px;
    z-index: 2;
    background-color: transparent;
    border-bottom: none;
    border-top: none;
    padding-top: 0;
  }

  .main-navigation .main-navigation__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-navigation__emblem {
    width: 188px;
    height: auto;
  }

  .main-navigation__list {
    margin-left: 60px;
  }

  .main-navigation__list-left {
    margin-right: 64px;
  }

  .main-navigation__list-item:first-of-type {
    margin-right: 120px;
  }

  .main-navigation__list-left-item:last-of-type {
    margin-left: 118px;
  }

  .main-navigation__emblem-wrapper {
    left: 554px;
  }
}
