.main-navigation {
  background-color: @white-color;
}

.main-navigation__list {
  .set-font();
  font-size: 18px;
  line-height: 40px;
  color: @white-color;
  font-weight: bold;
  background-color: @blue-color;
}

.main-navigation__emblem {
  background-color: @white-color;
}

.main-navigation__list-item {
  text-align: center;
  padding: 8px;
}
