.page-header {
  background-color: @white-color;
  margin-bottom: 40px;
}

.page-header__logo-wrapper {
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
  background-position: center;
  background-color: @blue-color;
  display: flex;
  height: 390px;
  margin-top: 55px;
}

.page-header__logo {
  margin: auto;
}

@media (max-width: @mobile-width-only) {
  .page-header__logo-wrapper {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 365px;
      left: 0;
      height: 0;
      width: 0;
      background-color: transparent;
      border-right: 160px solid transparent;
      border-bottom: 25px solid #ffffff;
    }
    &::after {
      content: "";
      position: absolute;
      top: 365px;
      right: 0;
      height: 0;
      width: 0;
      background-color: transparent;
      border-left: 160px solid transparent;
      border-bottom: 25px solid #ffffff;
    }
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    width: 768px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .page-header__logo-wrapper {
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat;
    background-position: center;
    height: 520px;
    margin-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 1200px;
  }

  .page-header__logo-wrapper {
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat;
    background-position: center;
  }
}
