.photo-album {
  .list-reset();
  background-color: @white-color;
  padding: 0 0 0 20px;
}

.photo-album__item {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}

.photo-album__photo-author {
  font-weight: 400;
  text-transform: none;
  margin: 0;
}

.photo-album__photo {
  background-color: @white-color;
}

.photo-album__photo-title {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  padding-top: 7px;
}

.photo-album__photo-likes {
  margin: 0;
  padding: 8px 0 0 35px;
}

@media (min-width: @tablet-width) {
  .photo-album__item {
    background-color: #f2f2f2;
  }

  .photo-album__photo {
    width: 324px;
    height: auto;

    &:first-of-type {
      width: 648px;
      height: auto;
    }
  }
}

@media (min-width: @desktop-width) {
  .photo-album__item {
    background-color: @white-color;
  }

  .photo-album__photo {
    width: 400px;
    height: auto;

    &:first-of-type {
      width: 1200px;
      height: auto;
    }
  }
}
