.photo-album {
  background-color: @white-color;
}
.photo-album__item {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}
.photo-album__photo-author {
  font-weight: 400;
  text-transform: none;
}
.photo-album__photo {
  background-color: @white-color;
}
