.photo-album {
  background-color: @white-color;
  padding: 0 0 0 20px;
}

.photo-album__item {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}

.photo-album__photo-author {
  font-weight: 400;
  text-transform: none;
  margin: 0;
}

.photo-album__photo {
  background-color: @white-color;
}

.photo-album__photo-title {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  padding-top: 7px;
}

.photo-album__photo-likes {
  margin: 0;
  padding: 8px 0 0 35px;
}
