.photo-video {
  background-color: @white-color;
}

.photo-video__description {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  display: block;
  padding: 0 25px;
  margin-bottom: 50px;
}
