.presentation {
  margin: 0 auto;
  margin-bottom: 75px;
}

.presentation__title {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 25px;
}

.presentation__description {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin: 0 auto;
  width: 240px;
  margin-bottom: 35px;
}

.presentation__photo {
  display: block;
  margin: 0 auto;
}

.controls-wrapper {
  width: 280px;
  height: 112px;
  background-color: #f2f2f2;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -45px;
}

.volume-scale {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  width: 280px;
  height: 45px;

  &::before {
    content: "";
    position: absolute;
    right: 22px;
    left: 22px;
    top: 22px;
    background-color: rgba(255, 255, 255, 0.3);
    height: 4px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 60px;
    top: 19px;
    width: 9px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
  }
}

.presentation__button {
  width: 70px;
  min-height: 66px;
  line-height: 0;
  background: 0 0;
  border: none;
  outline: none;
  padding: 0;

  &:nth-of-type(2) {
    margin-left: 70px;
  }
}

.presentation__controls {
  fill: #5c6870;

  &:first-of-type {
    margin-left: 7px;
  }

  &:hover {
    fill: #333333;
  }

  &:active {
    fill: #b8b8b8;
  }
}

@media (min-width: @tablet-width) {
  .presentation {
    margin-bottom: 65px;
  }

  .presentation__title {
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 31px;
  }

  .presentation__description {
    width: 417px;
    margin-bottom: 73px;
  }

  .presentation__photo {
    width: 648px;
    height: 500px;
  }

  .controls-wrapper {
    width: 648px;
    height: 94px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: -94px;
    margin-left: 60px;
    position: relative;
  }

  .volume-scale {
    order: 2;
    background-color: transparent;

    &:before {
      right: 22px;
      left: 16px;
      top: 45px;
      height: 3px;
      width: 390px;
    }

    &:after {
      left: 129px;
      top: 42px;
    }
  }

  .presentation__button {
    &:nth-of-type(1) {
      order: 1;
      margin-left: 5px;
    }

    &:nth-of-type(2) {
      order: 3;
      margin-left: 133px;
    }

    &:nth-of-type(3) {
      order: 4;
      margin-right: 20px;
    }
  }

  .presentation__controls {
    fill: #ffffff;

    &:hover {
      fill: #c2c2c2;
    }

    &:active {
      fill: #949494;
    }
  }
}

@media (min-width: @desktop-width) {
  .presentation {
    margin-bottom: 110px;
  }

  .presentation__photo {
    width: 800px;
    height: 500px;
  }

  .controls-wrapper {
    margin: 0 auto;
    width: 800px;
    margin-top: -94px;
  }

  .presentation__button:nth-of-type(2) {
    margin-left: 285px;
  }

  .volume-scale:before {
    width: 541px;
  }
}
