.recommendations {
  .set-font();
  .list-reset();
  background-color: @white-color;
  padding: 31px 0 10px 75px;
}

.recommendations__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
}

.recommendations__item {
  width: 256px;
  position: relative;
}

.recommendations__item-icon {
  position: absolute;
  top: -12px;
  left: -50px;
  width: 40px;
  height: 40px;
  fill: @blue-color;
}

.recommendations__description {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 28px;
}

@media (min-width: @tablet-width) {
  .recommendations {
    display: flex;
    padding: 0;
  }

  .recommendations__item {
    height: 330px;
    width: 256px;

    &:nth-of-type(2) {
      order: 3;
    }
  }

  .recommendations__title {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    margin: 160px 0 20px 0;
  }

  .recommendations__description {
    text-align: center;
  }

  .recommendations__item-icon {
    position: absolute;
    top: 60px;
    left: 90px;
    width: 76px;
    height: 76px;
    fill: @blue-color;
  }
}

@media (min-width: @desktop-width) {
  .recommendations__item {
    width: 400px;
  }
}
