.recommendations {
  .set-font();
  background-color: @white-color;
}
.recommendations__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}
.recommendations__description {
  font-size: 14px;
  line-height: 21px;
}
