@font-face {
  font-weight: normal;
  font-family: "PT Sans";
  font-style: normal;
  src: url("fonts/ptsans.woff2") format("woff2"), url("fonts/ptsans.woff") format("woff");
}
@font-face {
  font-weight: bold;
  font-family: "PT Sans";
  font-style: normal;
  src: url("fonts/ptsansbold.woff2") format("woff2"), url("fonts/ptsansbold.woff") format("woff");
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages {
  background-color: #ffffff;
}
.advantages__list,
.advantages__list-second {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #eeeeee;
}
.advantages__list-second {
  padding-top: 25px;
}
.advantages__list-second .advantages__item {
  margin-bottom: 16px;
}
.advantages__item-first,
.advantages__item-second,
.advantages__image {
  background-color: #81b3d2;
  color: #ffffff;
}
.advantages__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.advantages__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.advantages__slogan {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 27px;
  width: 256px;
}
.advantages__intro {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 27px;
  width: 252px;
}
.advantages__description {
  display: block;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  margin: 0;
  padding: 0 30px 40px 30px;
}
.advantages__number {
  text-align: center;
  display: block;
  margin-bottom: 15px;
}
.advantages__item-first .advantages__title {
  margin: 0 auto;
  padding: 56px 0 10px 0;
}
.advantages__item-second .advantages__title {
  margin: 0 auto;
  padding: 40px 0 9px 0;
}
.advantages__item-first .advantages__description,
.advantages__item-second .advantages__description {
  padding-bottom: 39px;
}
.advantages__image {
  display: block;
  margin: 0 auto;
}
.advantages__wrapper .advantages__item {
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .advantages__list-second .advantages__item {
    position: relative;
  }
  .advantages__list-second .advantages__item:nth-of-type(2)::before {
    content: "";
    position: absolute;
    top: -30px;
    left: 22px;
    width: 100%;
    height: 2px;
    background-color: #d6d6d6;
  }
  .advantages__list-second .advantages__item:nth-of-type(2)::after {
    content: "";
    position: absolute;
    top: 138px;
    left: 22px;
    width: 100%;
    height: 2px;
    background-color: #d6d6d6;
  }
  .advantages__item-first {
    position: relative;
  }
  .advantages__item-first::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 36px;
    top: -20px;
    left: 0;
    right: 0;
    background: url("../img/bg-triangle.svg") no-repeat;
    background-size: 100% 100%;
  }
}
@media (min-width: 768px) {
  .advantages__list-second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .advantages__slogan {
    font-size: 21px;
    line-height: 26px;
    width: 445px;
    margin: 0 auto;
    margin-bottom: 28px;
    padding-left: 0;
  }
  .advantages__intro {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 492px;
  }
  .advantages__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .advantages__item-wrapper {
    width: 256px;
  }
  .advantages__item-first .advantages__title {
    font-size: 21px;
    line-height: 26px;
    margin: 0 auto;
    padding-top: 44px;
    width: 120px;
  }
  .advantages__item-second .advantages__title {
    font-size: 21px;
    line-height: 26px;
    width: 151px;
    padding-top: 46px;
  }
  .advantages__number {
    margin-bottom: 23px;
  }
  .advantages__description {
    margin: 0 auto;
    width: 170px;
  }
  .advantages__item-second .advantages__description {
    padding-bottom: 0;
  }
  .advantages__item-second .advantages__item-wrapper {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .advantages__item-second .advantages__item-picture-wrapper {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .advantages__image {
    width: 512px;
    height: auto;
  }
  .advantages__list-second .advantages__title {
    font-size: 21px;
    line-height: 26px;
    width: 120px;
    margin: 0 auto;
    padding-top: 19px;
    margin-bottom: 10px;
  }
  .advantages__list-second .advantages__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advantages__list-second .advantages__description {
    width: 160px;
  }
}
@media (min-width: 1200px) {
  .advantages__item-wrapper {
    width: 400px;
  }
  .advantages__slogan {
    width: 445px;
  }
  .advantages__item-first .advantages__title {
    width: 125px;
    padding-top: 51px;
  }
  .advantages__item-second .advantages__title {
    width: 151px;
    padding-top: 55px;
  }
  .advantages__item-first .advantages__description {
    width: 270px;
  }
  .advantages__item-second .advantages__description {
    width: 220px;
  }
  .advantages__image {
    width: 800px;
    height: 256px;
  }
  .advantages__list-second .advantages__description {
    width: 264px;
  }
}
.main-navigation {
  background-color: #ffffff;
  position: relative;
}
.main-navigation__list,
.main-navigation__list-left {
  position: relative;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 40px;
  color: #ffffff;
  background-color: #81b3d2;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-navigation__list a,
.main-navigation__list-left a {
  text-decoration: none;
  color: #ffffff;
}
.main-navigation__list-item,
.main-navigation__list-left-item {
  text-align: center;
  padding: 6px;
}
.main-navigation--closed .main-navigation__toggle {
  position: absolute;
  background-color: #ffffff;
  top: 10px;
  right: 19px;
  border: none;
  cursor: pointer;
  display: block;
  width: 25px;
  height: 23px;
}
.main-navigation--closed .main-navigation__toggle::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 4px;
  top: 0;
  right: 0;
  background-color: #81b3d2;
  -webkit-box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2;
          box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2;
}
.main-navigation--opened .main-navigation__toggle {
  position: absolute;
  background-color: transparent;
  top: 27px;
  right: 19px;
  border: none;
  cursor: pointer;
  display: block;
  width: 28px;
  height: 28px;
}
.main-navigation--opened .main-navigation__toggle::before,
.main-navigation--opened .main-navigation__toggle::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 4px;
  top: 0;
  right: 0;
  background-color: #ffffff;
}
.main-navigation--opened .main-navigation__toggle::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.main-navigation--opened .main-navigation__toggle::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
@media (max-width: 767px) {
  .main-navigation__list-item,
  .main-navigation__list-left-item {
    text-align: center;
    padding: 7px;
    border-top: solid 1px #9ac2db;
    border-bottom: solid 1px #678fa8;
  }
  .main-navigation__list-item:hover,
  .main-navigation__list-left-item:hover {
    background-color: #669ec0;
  }
  .main-navigation__list-item:active,
  .main-navigation__list-left-item:active {
    background-color: #5496bd;
  }
  .main-navigation__list-item:first-of-type {
    border-top: none;
  }
  .main-navigation__list-left-item:nth-of-type(2) {
    border-bottom: none;
    -webkit-box-shadow: inset 0 -1px 1px #6c96b0;
            box-shadow: inset 0 -1px 1px #6c96b0;
  }
}
.main-navigation-text:active {
  opacity: 0.5;
}
.main-navigation--closed .main-navigation__list-item,
.main-navigation--closed .main-navigation__list-left-item {
  display: none;
}
.main-navigation--closed .main-navigation__emblem-wrapper {
  display: block;
  top: 0;
}
.main-navigation--opened .main-navigation__list-item {
  display: block;
}
.main-navigation--nojs .main-navigation__toggle {
  display: none;
}
.main-navigation__emblem-wrapper {
  position: absolute;
  border-bottom: none;
  border-top: none;
  top: 222px;
  left: 50%;
  z-index: 2;
  margin-left: -50px;
  background-color: transparent;
}
@media (min-width: 768px) {
  .main-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-navigation__list,
  .main-navigation__list-left {
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
    background-color: #ffffff;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main-navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 18px;
  }
  .main-navigation__list-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 17px;
  }
  .main-navigation__list a,
  .main-navigation__list-left a {
    text-decoration: none;
    color: #000000;
  }
  .main-navigation__list a:hover,
  .main-navigation__list-left a:hover {
    color: #81b3d2;
  }
  .main-navigation__list a:active,
  .main-navigation__list-left a:active {
    color: #b7b7b7;
  }
  .main-navigation__list-item,
  .main-navigation__list-left-item {
    min-width: 106px;
    padding-top: 14px;
    margin-bottom: 8px;
  }
  .main-navigation__list-item:first-of-type {
    margin-right: 35px;
  }
  .main-navigation__list-left-item:last-of-type {
    margin-left: 33px;
  }
  .main-navigation__list-item--active a,
  .main-navigation__list-left-item--active a {
    color: #766357;
  }
  .main-navigation__list-item--active a:hover,
  .main-navigation__list-left-item--active a:hover {
    color: #604e43;
  }
  .main-navigation__list-item--active a:active,
  .main-navigation__list-left-item--active a:active {
    color: #d8d3d0;
  }
  .main-navigation__emblem-wrapper {
    position: absolute;
    top: 0;
    left: 382px;
    z-index: 2;
    background-color: transparent;
    border-bottom: none;
    border-top: none;
    padding-top: 0;
  }
  .main-navigation .main-navigation__toggle {
    display: none;
  }
}
@media (min-width: 1200px) {
  .main-navigation__emblem {
    width: 188px;
    height: auto;
  }
  .main-navigation__list {
    margin-left: 60px;
  }
  .main-navigation__list-left {
    margin-right: 64px;
  }
  .main-navigation__list-item:first-of-type {
    margin-right: 120px;
  }
  .main-navigation__list-left-item:last-of-type {
    margin-left: 118px;
  }
  .main-navigation__emblem-wrapper {
    left: 554px;
  }
}
.page-footer {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}
.page-footer__tag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}
.page-footer__developers {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  display: block;
  text-align: center;
  padding-right: 40px;
  margin: 0 auto;
}
.page-footer__developers-wrapper {
  position: relative;
}
.page-footer__developers-link {
  position: relative;
  display: block;
}
.page-footer__developers-icon {
  position: absolute;
  width: 27px;
  height: 35px;
  top: -29px;
  left: 62%;
  fill: #000000;
}
.page-footer__developers-icon:hover {
  fill: #81b3d2;
}
.page-footer__developers-icon:active {
  fill: #b2b2b2;
}
@media (min-width: 768px) {
  .page-footer {
    width: 768px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .page-footer__tag {
    margin-left: 43px;
  }
  .page-footer__developers-wrapper {
    margin: 20px 77px 0 10px;
  }
  .page-footer__developers-icon {
    left: 101px;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    width: 1200px;
  }
  .page-footer__tag {
    margin-left: 110px;
  }
  .page-footer .page-footer__developers-wrapper {
    margin-right: 130px;
  }
}
.page-header {
  background-color: #ffffff;
  margin-bottom: 40px;
}
.page-header__main-logo-wrapper {
  background: url("../img/bg-back-mobile@1x.webp") no-repeat;
  background-position: center;
  background-color: #81b3d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 390px;
  margin: 0 auto;
  position: relative;
}
.page-header__logo-wrapper {
  background: url("../img/bg-back-mobile@1x.webp") no-repeat;
  background-position: center;
  background-color: #81b3d2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 159px;
  margin: 0 auto;
  position: relative;
}
.page-header__logo {
  margin: auto;
}
.page-header__logo-image {
  padding: 5px 0 0 2px;
}
@media (max-width: 767px) {
  .page-header__logo-wrapper,
  .page-header__main-logo-wrapper {
    margin-top: 55px;
  }
  .page-header__main-logo-wrapper::after {
    content: "";
    position: absolute;
    width: 102%;
    height: 57px;
    top: 349px;
    left: 0;
    right: 0;
    background: url("../img/bg-intro-triangle-mobile.svg") no-repeat;
    background-size: 100% 100%;
  }
  .page-header__logo-wrapper::after {
    content: "";
    position: absolute;
    width: 102%;
    height: 57px;
    top: 118px;
    left: 0;
    right: 0;
    background: url("../img/bg-intro-triangle-mobile.svg") no-repeat;
    background-size: 100% 100%;
  }
  .page-header__logo-image {
    display: block;
    width: 280px;
    height: auto;
    margin: 0 auto;
    padding: 0;
    position: relative;
  }
}
@media (min-width: 768px) {
  .page-header {
    width: 768px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .page-header__main-logo-wrapper {
    background: url("../img/bg-back-tablet@1x.webp") no-repeat;
    background-position: center;
    height: 520px;
    margin: 0 auto;
    position: relative;
  }
  .page-header__main-logo-wrapper::after {
    content: "";
    position: absolute;
    width: 1200px;
    height: 57px;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../img/bg-intro-triangle-tablet.svg") no-repeat;
  }
  .page-header__logo-wrapper {
    background: url("../img/bg-back-tablet@1x.webp") no-repeat;
    background-position: center;
    height: 293px;
    margin: 0 auto;
    position: relative;
  }
  .page-header__logo-wrapper::after {
    content: "";
    position: absolute;
    width: 1200px;
    height: 57px;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../img/bg-intro-triangle-tablet.svg") no-repeat;
  }
  .page-header__logo-image {
    display: block;
    width: 464px;
    height: auto;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .page-header {
    width: 1200px;
  }
  .page-header .page-header__main-logo-wrapper {
    background: url("../img/bg-back-desktop@1x.webp") no-repeat;
    background-position: center;
    position: relative;
  }
  .page-header .page-header__main-logo-wrapper::after {
    content: "";
    position: absolute;
    width: 1200px;
    height: 57px;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../img/bg-intro-triangle-desktop.svg") no-repeat;
  }
  .page-header__logo-wrapper {
    background: url("../img/bg-back-desktop@1x.webp") no-repeat;
    background-position: center;
    position: relative;
    height: 304px;
  }
  .page-header__logo-wrapper::after {
    content: "";
    position: absolute;
    width: 1200px;
    height: 57px;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../img/bg-intro-triangle-desktop.svg") no-repeat;
  }
}
.page-main {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}
.page-main__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  margin: 40px 0 24px 0;
}
@media (min-width: 768px) {
  .page-main {
    width: 768px;
    margin: 0 auto;
  }
  .page-main__title {
    font-size: 30px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    margin: 73px 0 30px 0;
  }
}
@media (min-width: 1200px) {
  .page-main {
    width: 1200px;
  }
}
.photo-album {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  margin: 0 auto;
}
.photo-album__item {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}
.photo-album__photo-author {
  font-weight: 400;
  text-transform: none;
  margin: 0;
}
.photo-album__photo {
  background-color: #ffffff;
}
.photo-album__photo-title {
  display: block;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  padding-top: 7px;
}
.photo-album__photo-likes {
  display: block;
  position: relative;
  margin: 0;
  padding: 8px 0 0 35px;
}
.photo-album__like-icon {
  position: absolute;
  top: 6px;
  left: 0;
  fill: #b2b2b2;
}
@media (min-width: 768px) {
  .photo-album {
    width: 648px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .photo-album__item {
    background-color: #f2f2f2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0;
    padding-bottom: 20px;
  }
  .photo-album__item:first-of-type {
    background-color: #f2f2f2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0;
    padding-bottom: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .photo-album__item:first-of-type picture {
    width: 648px;
    margin: 0 auto;
  }
  .photo-album__item picture {
    width: 324px;
  }
  .photo-album__photo-legend {
    margin-left: 80px;
  }
  .photo-album__photo-likes {
    -ms-flex-item-align: center;
        align-self: center;
    margin-right: 82px;
  }
  .photo-album__like-icon {
    top: 9px;
    left: 4px;
  }
  .photo-album__photo {
    width: 324px;
    height: auto;
  }
  .photo-album__photo:first-of-type {
    width: 648px;
    height: auto;
  }
}
@media (min-width: 1200px) {
  .photo-album {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .photo-album__item {
    background-color: #ffffff;
  }
  .photo-album__photo {
    width: 400px;
    height: auto;
  }
  .photo-album__photo:first-of-type {
    width: 1200px;
    height: auto;
  }
}
.photo-video {
  background-color: #ffffff;
}
.photo-video__description {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  display: block;
  padding: 0 25px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .photo-video__description {
    width: 430px;
    margin: 0 auto;
    margin-bottom: 70px;
  }
}
.recommendations {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 36px 0 10px 70px;
}
.recommendations__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
}
.recommendations__item {
  width: 256px;
  position: relative;
}
.recommendations__item-icon {
  position: absolute;
  top: -12px;
  left: -50px;
  width: 40px;
  height: 40px;
  fill: #81b3d2;
}
.recommendations__description {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 28px;
  width: 209px;
}
@media (min-width: 768px) {
  .recommendations {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
  .recommendations__item {
    height: 330px;
    width: 256px;
  }
  .recommendations__item:nth-of-type(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .recommendations__title {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    margin: 160px 0 20px 0;
  }
  .recommendations__description {
    text-align: center;
    width: 162px;
    margin: 0 auto;
  }
  .recommendations__item-icon {
    position: absolute;
    top: 60px;
    left: 90px;
    width: 76px;
    height: 76px;
    fill: #81b3d2;
  }
}
@media (min-width: 1200px) {
  .recommendations__item {
    width: 400px;
  }
  .recommendations__item-icon {
    left: 160px;
    top: 60px;
  }
  .recommendations__description {
    width: 285px;
  }
}
.social {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 31px 0 41px 5px;
}
.social__link {
  position: relative;
  display: block;
  margin: 3px;
  padding: 24px;
  background-color: #81b3d2;
}
.social__link:hover {
  background-color: #669ec0;
}
.social__link:active {
  background-color: #5496bd;
}
.social__icon {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 20px;
  height: 15px;
  fill: #ffffff;
}
.social__icon:active {
  opacity: 0.5;
}
.social__link--fb .social__icon {
  position: absolute;
  top: 13px;
  left: 20px;
  width: 11px;
  height: 20px;
  fill: #ffffff;
}
@media (min-width: 768px) {
  .social {
    margin: 0;
    padding: 0;
    margin-top: 7px;
  }
}

/*# sourceMappingURL=style.css.map */
